body {
    font-family: sans-serif;}

header {
    background-color: lightblue;
}

header a {
    border:white solid 3px;
    border-radius: 10px;
    background-color: white;
    color: purple;
    text-decoration: none;
}

header b {
    color: blue;
}

.h {
    border: darkblue solid 5px;
    border-radius: 15px;
    text-align: center;
    background-color: lightcyan;
    color:darkblue ;
}

nav {
    background-color:lightgreen ;
}

nav a {
    text-decoration: none;
    color: purple;
    border:blue solid 2px;
    border-radius:7px;
}

footer p {
    border: black solid 2px;
}

.j {
    border: lightcoral solid 10px;
    border-radius: 10px;
    background-color: lightcoral;
    text-align: center;
